<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Training_Bookings::training" title="DCKAP" translate="title" module="Training_Bookings" sortOrder="51" dependsOnModule="Training_Bookings" resource="Magento_Backend::admin"/>
        <!-- <add id="Training_Bookings::bookings" title="Bookings" translate="title" module="Training_Bookings" parent="Training_Bookings::training" sortOrder="50" dependsOnModule="Training_Bookings" resource="Magento_Backend::admin" /> -->
        <add id="Training_Bookings::bookings_helloworld" title="HelloWorld" translate="title" module="Training_Bookings" parent="Training_Bookings::training" sortOrder="10" action="bookings/helloworld/helloworld" resource="Magento_Backend::admin"/>
        <add id="Training_Bookings::bookings_listing" title="Listing" translate="title" module="Training_Bookings" parent="Training_Bookings::training" sortOrder="11" action="bookings/listing" resource="Magento_Backend::admin"/>
    </menu>
</config>