<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Training_Bookings::training" title="DCKAP" translate="title" module="Training_Bookings" sortOrder="51" dependsOnModule="Training_Bookings" resource="Magento_Backend::admin"/>
        <add id="Training_Bookings::bookings_helloworld" title="HelloWorld" translate="title" module="Training_Bookings" parent="Training_Bookings::training" sortOrder="10" action="bookings/helloworld" resource="Magento_Backend::admin"/>
        <add id="Training_Bookings::bookings_list" title="List" module="Training_Bookings" sortOrder="11" parent="Training_Bookings::training" action="bookings/list" resource="Magento_Backend::admin"/>
    </menu>
</config>